# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# text editor files
*.swp
*.autosave

# astyle, hg
*.orig
*.org

# logs
*.log

# qmake
*.pro.user
*-build-*

# coverage measurement tools
c.report.json
*.gcov
*.gcda
*.gcno

# MXE
usr
include
mxe

# cmake
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
CTestCostData.txt

# nsis
nsis*

# my patched busted
exitless-busted
